.app-header{
    display: flex;
    justify-content: center;
    border-bottom: solid;
    width: 103%;
    background-color: lightblue;
    justify-content: center;
    border-bottom: solid;
    border-color: gray;
    padding: 5px;
    margin-left: -10px;
    margin-top: -10px;
    margin-top: 10px;
  }

  .main-container-box{
    display: flex;
    justify-content: center;
  }

  .container-box{
    display: flex;
    justify-content: center;
    border-style: solid;
    margin-left: 20px;
    margin-top: 20px;
    height: 100px;
    border-width: 1px;
    border-radius: 12px;
  }

  .flexbox-container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-top: -20px;
  }

  .body-text{
    display: flex;
    color: black;
    justify-content: center;
    border-bottom: solid;
    width: 100%;
    text-align: center;
    padding-bottom: 17px;
    padding-top: 10px;
    height: 20px;
    background-color: lightgray;
    font-size: 25px;
    border-radius: 10px;
}

.movie-text{
    display: flex;
    color: black;
    justify-content: center;
    border-bottom: solid;
    width: 80%;
    text-align: center;
    padding-left: 50px;
    margin-right: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 42px;
    height: 20px;
    background-color: lightgray;
    font-size: 20px;
    border-radius: 10px;
}

.rating-field{
  display: flex;
  color:black;
  justify-content: center;
  padding-top: 12px;
  font-size: 10px;
}

.rating-container{
  display: flex;
  flex-direction: row;
}

.individual-rate-box{
  display: flex;
  border-style: solid;
  border-color: black;
  margin-top: 23px;
  margin-right: 10px;
  border-width: 2.2px;
  padding: 2px;
}