.app-header{
  display: flex;
  width: 50%;
  background-color: lightblue;
  justify-content: center;
  border-radius: 12px;
  }
  .parent-app-header {
    text-align: -webkit-center;
  }

  .main-container-box{
    display: flex;
    justify-content: center;
  }
.finesse{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;  
}
  .container-box{
    display: flex;
    width: 50%;
    justify-content: center;
    border-style: solid;
    margin-left: 480px;
    margin-top: 30px;
    margin-right: 20px;
    height: 70px;
    border-width: 1px;
    border-radius: 12px;
  }
.BARERATINGSFAM {
  width: -webkit-fill-available;
    height: 100px;
}
  .flexbox-container{
    display: flex;
    width: 50%;
    justify-content: center;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-top: -20px;
  }

  .body-text{
    display: flex;
    color: black;
    justify-content: center;
    border-style: solid;
    width: 20%;
    text-align: center;
    margin-left: 780px;
    padding-bottom: 12px;
    padding-top: 10px;
    margin-top: 15px;
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
}

.movie-text{
    display: flex;
    color: black;
    justify-content: center;
    border-bottom: solid;
    width: 80%;
    text-align: center;
    padding-left: 50px;
    margin-right: 200px;
    padding-bottom: 5px;
    padding-top: 15px;
    margin-top: 20px;
    background-color: lightgray;
    font-size: 20px;
    border-radius: 10px;
}

.rating-container{
  display: flex;
  justify-content: center;
}

.individual-rate-box{
  display: flex;
  border-style: solid;
  border-color: black;
  margin-top: 17px;
  margin-right: 10px;
  border-width: 2.2px;
  padding: 5px;
  font-size: 15px;
  border-radius: 8px;
}
.nav-container {
  justify-content: center;
}
.centerFriends {
  display: inline-flex;
}
.card-img-top {
  width: 430px;
  height: 650px;
    object-fit: contain;
}

.card-container{
  display: flex;
  padding-top: 20px;
}

.nav-container{
  display: flex;
  padding: 2px;
  margin: 2px;
  margin-left: 20px;
}
.YERRRRRR{
  text-align: center;
}
.calc-button{
  display: flex;
  margin-left: 20px;
}